{{template "base" .}}

{{define "content"}}
<div class="container">
   <div class="row mt-3">
      <div class="col">
         <img src="/static/images/my-laptops.jpg" class="img-fluid img-thumbnail rounded mx-auto d-block laptop-image" alt="laptop image">
      </div>
   </div>
   <div class="row">
      <div class="col">
          <h1 class="text-center mt-4">About me</h1>
          <p>This is my work environment at home. These are three of my laptops!</p>
          <p>I use both Windows an MacOS for development. Go, Python, C/C++, Rust, Java and Scala are my favorite programming languages.</p>
          <p>I don't like JavaScript but as long as we are doing web development, we are stucked in it, ain't we?</p>
      </div>
  </div>
</div>
{{end}}
